#set( $iAmVariable = "interesting!" )
Welcome $name to velocity.com
today is $date.
#foreach ($i in $list)
$i
#end
#macro(sayHello $name $world)
Say $name, $world!
#end
#sayHello("Hi","Who")
$iAmVariable